<div class="d-flex m-5 card bg-dark-subtle text-black" style="width: 18rem;" *ngFor="let character of characters">
  <img [src]="character.image" class="card-img-top" [alt]="character.name + ' ' + 'image' ">
  <div class="card-body">
    <h5 class="card-title">{{ character.name }}</h5>
    <ul class="card-text">
      <li>
        {{ character.gender | translate: 'gender'}}
      </li>
      <li>
        {{ character.status | translate: 'status' }}
      </li>
    </ul>
    <button class="btn btn-dark" (click)="goToDetails(character)">Zobacz szczegóły</button>
  </div>
</div>
