<div class="home d-flex justify-content-center align-items-start">
  <div class="d-flex flex-column">
    <img src="./assets/1.png" alt="Rick and morty logo image"/>
    <img style="margin-top:-150px;" src="./assets/photo.png" alt="Rick and morty photo"/>
    <div class="button-containter d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-lg btn-dark px-4 border bg-transparent border-white rounded">Info</button>
      <a routerLink="characters-list" type="button" class="btn btn-lg btn-success px-4 border border-success rounded">Get started</a>
    </div>
  </div>
</div>
